.error-bar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  height: fit-content;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: bottom, opacity .5s ease-in-out;
  border-radius: 10px;
  &.create {
    background-color: #e6b515;
    color: #131313;
    bottom: 5px;
    opacity: 1;

  }
  &.error {
    background-color: rgb(167, 16, 16);
    color: white;
    bottom: 5px;

    opacity: 1;
  }
  &.ok {
    background-color: rgb(13, 143, 13);
    color: #131313;
    bottom: 5px;

    opacity: 1;
  }

  .error-bar__message {
    padding: 10px;
    margin: 5px;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
