@import url("../../base/variables.css");

.chat-bubble {
  display: flex;
  color: var(--text-color);
  padding: 5px;
  margin: 5px;

  &.user {
    justify-content: flex-start;
  }
  &.bot {
    justify-content: flex-end;
  }

  .chat-bubble-text {
    width: fit-content;
    padding: 15px;
    border-radius: var(--radius-buble);
    white-space: pre-line;
    &.user {
      background-color: var(--bg-bubble-chat-user);
    }
    &.bot {
      background-color: var(--bg-bubble-chat-bot);
      width: 40%;
      height: fit-content;
    }
  }
}
