.footer__container{
    display: flex;
    align-items: flex-end;
    position: sticky;
    bottom: 0;
    left: 50%;
    margin-top: auto;
    width: 50%;
    height: fit-content;
    padding: 15px;
    transform: translateX(-50%);
    .footer__input{
        width: 100%;
        height: fit-content;
        border-radius: var(--radius-buble);
        background: #333;
        padding: 20px;
    }
    .footer__button{
        position: absolute;
        right: 0px;
        top: 23px;        
        padding: 0px 15px;
        background: transparent;
        color: var(--btn-color);
        .footer__button-icon{
            width: 25px;
            height: 25px;
        }
        
    }
}