.section__chat{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
    margin: 10px;
    .chat__container{
        position: relative;
        display: flex;
        flex-flow: column wrap;
        margin: 5px;
        padding: 10px;
    }
}