.section__chat{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
    margin: 10px;
    .chat__container{
        position: relative;
        display: flex;
        flex-flow: column-reverse wrap;
        margin: 5px;
        padding: 10px;

        .chat__products{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            .card{
                margin: 0;
                padding: 0;
            }
        }
        .chat__products-container{
            width: 80%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            gap: 1rem;
            margin: 5px;
            padding: 10px;
        }
    }
}

.section__chat-not-auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 1rem;
    margin: 10px;

    .chat__container{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 20px;
        background-color: var(--bg-header);
        border-radius: var(--radius-buble);
        .chat__text{
            text-align: center;
            a{
                color: var(--text-color);
            }
        }
    }
}