@import url("../base/variables.css");


.section__login{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 10px;
    position: relative;
    .form{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        button{
            margin: 10px;
            padding: 10px;
            border-radius: var(--radius-buble);
            color: var(--white);
        }
        .form__register{
            padding: 10px;
            margin: 5px;
            .form__register-link{
                color: var(--text-color-2);
                &:hover{
                    text-decoration: underline var(--btn-hover-color);
                }
            }   
        }
    }
    .form__input-container{
        display: flex;
        flex-direction: column;
        align-items: flex;
        justify-content: center;
        width: 300px;
        position: relative;
        .form__label{
            color: var(--label-text-color);
            margin: 10px 0px;
            padding: 5px 0px;
        }
        .form__input-error{
            color: var(--color-error);
            padding: 10px;
            margin: 5;
            font-size: 14px;
        }
        .form__input-icon{
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            top: 70px;
            transform: translateY(-50%);
        }
    }

}